<div class="d-flex flex-column flex-grow-1 overflow-hidden">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>
        <p>This tab is using a KendoTextArea with AutoSize = true</p>
        <textarea kendoTextArea [autoSize]="true" class="form-control">
    Continue typing in this
          textarea
          asdfas
          dfsadfasd
          asdf
          asd
          fasd
          f... </textarea
        >
        <p>As you can see the text area is not auto-sized (initiatlly)</p>
        <p>If you change content of text area then it will be auto-resized!</p>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>
        <p>This tab is using default TextArea with ngx-autosize directive</p>
        <textarea autosize class="form-control">
    Continue typing in this
          textarea
          asdfas
          dfsadfasd
          asdf
          asd
          fasd
          f... </textarea
        >
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
